bugfix-scratch/
*.sif
notes/
.vscode/
**/.nextflow/
**/.nextflow.log
**/.nextflow.log.*
.DS_Store
/build/
scratch/
.cache/
test/table.test.bed
test/table.test.bed.gz
test/test.neat.bam
test/test.post.bam
test/variant.test
test/variant.test.discarded
