profiles {
  lsf_singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$PWD"
    process.executor = 'lsf'
    process.queue = 'normal'
    executor.perJobMemLimit = true
    executor.queueSize = 200
    process.cache = 'lenient' //necesary for lustre
    process.errorStrategy = 'retry' //relaunch jobs upon failure
    process.maxRetries = 2
    process.beforeScript = 'module load singularity/3.9.0'
  }
}
