profiles {
  singularity {
    process.container = 'docker://quay.io/wtsicgp/nanoseq:2.3.3'
    singularity.enabled = true
    singularity.cacheDir = "$PWD"
    singularity.autoMounts = true
  }
  lsf_singularity {
    process.container = 'docker://quay.io/wtsicgp/nanoseq:2.3.3'
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$PWD"
    process.executor = 'lsf'
    executor.perJobMemLimit = true
    executor.queueSize = 200
  }
}